appdirs==1.4.3
click==6.7
Flask==0.12.2
inflect==0.2.5
itsdangerous==0.24
Jinja2==2.9.6
kiteconnect==3.4.1
MarkupSafe==1.0
packaging==16.8
PyMySQL==0.7.11
pyparsing==2.2.0
requests==2.14.2
six==1.10.0
sqlacodegen==1.1.6
SQLAlchemy==1.1.10
websocket-client==0.40.0
Werkzeug==0.12.2
gunicorn